@import url('https://fonts.cdnfonts.com/css/opendyslexic');
@import url('https://fonts.cdnfonts.com/css/billy-whites');
@import url('https://fonts.cdnfonts.com/css/planet-megapolis');
@import url('https://fonts.cdnfonts.com/css/master-of-break');
:root{
    --first-color:#42b883;
    --second-color:  #347474; 
}

/*Selector universal*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--second-color); 
}


nav{
    width: 100vw;
    /*Altura minima del dispositivo*/
    min-height: auto; /*view height*/
    /*Establecer un fondo con un degradado lineal*/
    /*Linea-gradient(180) se encarga de crear un degradado en sentido de los grados*/
    background: linear-gradient(90deg, var(--first-color) 0%, var(--second-color)100%);
    display: flex;
    border-bottom: 3px outset #347474b5;  /*0.1 representa opacidad*/
    justify-content: space-between; /*Le da espacio entre elementos*/
}

nav > article > a{
    display: inline-block; /*Le especifico que alinee con elementos seguidos en linea*/
    color:inherit; /*herede el color de papa rey xD*/
    text-decoration:none; /*Quitar el borde*/
    font-weight: 300; /*Tamaño de fuente*/
    padding:25px 20px 25px; /*Padding hacia arriba, espacio entre entre elementos (iz-der) y distancia hacia abajo
    height: inherit; /*Que herede la altura*/
    font-family: 'Planet Megapolis', sans-serif;
    font-weight: 700;
    

  
}

nav > figure {
    display: inline-block; /**lo vuelve un eelemento lineal/*/
    vertical-align: top; /*Alinea verticalmente elementos*/
    margin-top: 20px;
    margin-left: 20px;
    
    
    /*Adaptaciones del logo*/
           
}

nav > figure > img {
    width: 50px;
    height: 30px;
    margin-left: 100px;
    margin-top: 5px;
}
nav > figure > h2{
    display: inline-block; /**lo vuelve un eelemento lineal/*/
    vertical-align: top; /*Alinea verticalmente elementos*/
    position: absolute; /*Absoluta con respecto a su contenedor, sirvio para acomodarla al lado del icono*/
    
    padding-left: 20px;
    padding-top: 0;
    /*font-family: 'OpenDyslexicAlta', sans-serif;*/
    /*font-family: 'Billy Whites', sans-serif; */
    /*font-family: 'Planet Megapolis', sans-serif;*/ 
    font-family: 'Master Of Break', sans-serif;
    font-weight: 700;
    font-size:xx-large;

}

#welcomeBanner{
    height: cover;
    width: 100%; /*Adapto posicion de mi imagen de bienvenida*/    
}

header{
   height: auto; /*posicion y tamaño del header */
   width: 100vw;
}

.nav__options{
    font-family: 'Master Of Break', sans-serif; 
    margin: 30px;
    text-align: center;
    font-size:xx-large;
  }
main{
    background-color:  #35495ef0; 
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    margin:20px;
    
}
main > article{
    width: 260px;
    height: 320px;
    margin:30px;
    border-radius: 10px;;
    background-color: #fff;
    display:inline-block;
}

main > article > h3{
    text-align: center;
    justify-content: center;
    margin:10px;
}

main > article > img {
    
    width: 90%;
    margin: 0 13px;
    object-fit: cover;
   
}
main > article > p {
    text-align:justify;
    justify-content: space-around;
    margin:10px
    

}


.nav__marcos{
        background-color:  #35495ef0;
        border-radius: 20px;
        margin:auto;
        margin-bottom: 20px;
        width: 70%;
        height: 600px;
        animation: nav__marcos 10s infinite linear alternate;/*Darle animacion a algo especifico en mi html__Tiempo de transicion__ especifico que sea infinita__en que forma quiero que me lo muestre horizontal vertical (linear).....__alternate: vaya alternando las posiciones de mis imagenes en la transiciond del banner*/
        background-size: 100% 100%; /*El background ocupe el 100% de alto y 100% de ancho, sin esto la imagen no se muestra por completo*/
        position: relative; /*Aqui me sirve por que el diseño del baner esta uno encima del otro*/
        display: flex; /*Como se alinea*/
        justify-content: center; /*Justifica todo el bloque*/
        align-items: center; /*alinie los items al centro*/
      }
      @keyframes nav__marcos {/*Darle sentido a la propiedad banner, le especifico que tiene que hacer ese elemento*/
        /*que puedo hacer con keyframes?*/
        0%, 20% { /*Periodo de tiempo, en este caso es un 1/4*/
            background-image: url("/img/bikepacking.jpg");
        }
        25%, 45%{ /*Intervalo de tiempo*/
            background-image: url("/img/assambly.jpg");  
        }
        50%, 70% { /*Periodo de tiempo, en este caso es un 1/4*/
            background-image: url("/img/frame1.jpg");
        }
        75%, 100%{ /*Intervalo de tiempo*/
            background-image: url("/img/frame2.jpg");  
            
         }
    
    }
    footer article{
        
        width: 100%;
        max-width: 550px;
        text-align: center; /*Alineo textos*/
    }
    
    footer > article > h3 {
        color: #fff;
        font-size: 45px;
        margin-bottom: 20px;
        letter-spacing: 1px;
        
    }
    footer > article > p{
        color: #c7c7c7;
        line-height: 1.7; /*altura de linea*/
        margin-bottom: 30px;
    }
    footer{
        background-color: #ff7e67; 
        display: flex; /*Como se alinea*/
        justify-content: center; /*Justifica todo el bloque*/
        align-items: center; /*alinie los items al centro*/
        height: 400px;
    }

    #inicio{
        margin:20px 80px;
        align-items: center;
        justify-content: center;
    }